#navbar {
  display: flex;
  flex-flow: column nowrap;
}

#navbar a {
  text-decoration: none;
  color: black;
  border: solid 1px black;
  padding: 5px 15px;
  margin-bottom: 2px;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

@media all and (min-width: 1024px) {
  body {
    flex-flow: row nowrap;
  }
  #navbar {
    min-width: 300px;
    margin-right: 20px;
  }
}